
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}
.axis.minor {
    stroke-width: 1px;
}

.mouseline line {
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 3.6;
    /*opacity: 0;*/
}

.focusring {
    fill: none;
    stroke-width: 2;
    stroke: red;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.dashedLine {
    stroke: steelblue;
    stroke-dasharray: 3.3;
    opacity: 0;
}

.dot {
  stroke-width: 1.5px;
  fill: #fff;
}

div.tooltip {
  position: absolute;
  text-align: center;
  /*
  width: 80px;
  height: 55px;
  */
  padding: 4px;
  font: 16px sans-serif;
  color: white;
  font-weight: 500;
  background: black;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

/* http://www.d3noob.org/2013/01/adding-grid-lines-to-d3js-graph.html */
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
